In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import datetime as dt
from pathlib import Path
from functools import reduce

In [2]:
path = Path(r"C:\Users\stapi\My projects\Stock analysis\stock_prices")

In [3]:
path_list = sorted(path.glob('*.csv'))

In [13]:
names = []
for i, csv_file in enumerate(path_list):
    names.append(f"stock_{i}")
    globals()[f'stock_{i}'] = pd.read_csv(path_list[i], parse_dates=["Date"], usecols=["Date", "Volume"])
    name = str(path_list[i]).split("\\")[-1].split('.')[0]
    stock_name = f'({name}) Volume'
    globals().get(names[i]).columns = ["Date", stock_name]
    # data.columns = ["Date", stock_name]

print(names)

['stock_0', 'stock_1', 'stock_2', 'stock_3', 'stock_4', 'stock_5', 'stock_6', 'stock_7', 'stock_8', 'stock_9', 'stock_10', 'stock_11', 'stock_12', 'stock_13', 'stock_14', 'stock_15', 'stock_16', 'stock_17', 'stock_18', 'stock_19', 'stock_20', 'stock_21', 'stock_22', 'stock_23', 'stock_24', 'stock_25', 'stock_26', 'stock_27', 'stock_28', 'stock_29', 'stock_30', 'stock_31', 'stock_32', 'stock_33', 'stock_34', 'stock_35', 'stock_36', 'stock_37', 'stock_38', 'stock_39', 'stock_40', 'stock_41', 'stock_42', 'stock_43', 'stock_44', 'stock_45', 'stock_46', 'stock_47', 'stock_48', 'stock_49', 'stock_50', 'stock_51', 'stock_52', 'stock_53', 'stock_54', 'stock_55', 'stock_56', 'stock_57', 'stock_58', 'stock_59', 'stock_60', 'stock_61', 'stock_62', 'stock_63', 'stock_64', 'stock_65', 'stock_66', 'stock_67', 'stock_68', 'stock_69', 'stock_70', 'stock_71', 'stock_72', 'stock_73', 'stock_74', 'stock_75', 'stock_76', 'stock_77', 'stock_78', 'stock_79', 'stock_80', 'stock_81', 'stock_82', 'stock_83', 'stock_84', 'stock_85', 'stock_86', 'stock_87', 'stock_88', 'stock_89', 'stock_90', 'stock_91', 'stock_92', 'stock_93', 'stock_94', 'stock_95', 'stock_96', 'stock_97', 'stock_98', 'stock_99', 'stock_100', 'stock_101', 'stock_102', 'stock_103', 'stock_104', 'stock_105', 'stock_106', 'stock_107', 'stock_108', 'stock_109', 'stock_110', 'stock_111', 'stock_112', 'stock_113', 'stock_114', 'stock_115', 'stock_116', 'stock_117', 'stock_118', 'stock_119', 'stock_120', 'stock_121', 'stock_122', 'stock_123', 'stock_124', 'stock_125', 'stock_126', 'stock_127', 'stock_128', 'stock_129', 'stock_130', 'stock_131', 'stock_132', 'stock_133', 'stock_134', 'stock_135', 'stock_136', 'stock_137', 'stock_138', 'stock_139', 'stock_140', 'stock_141', 'stock_142', 'stock_143', 'stock_144', 'stock_145', 'stock_146', 'stock_147', 'stock_148', 'stock_149', 'stock_150', 'stock_151', 'stock_152', 'stock_153', 'stock_154', 'stock_155', 'stock_156', 'stock_157', 'stock_158', 'stock_159', 'stock_160', 'stock_161', 'stock_162', 'stock_163', 'stock_164', 'stock_165', 'stock_166', 'stock_167', 'stock_168', 'stock_169', 'stock_170', 'stock_171', 'stock_172', 'stock_173', 'stock_174', 'stock_175', 'stock_176', 'stock_177', 'stock_178', 'stock_179', 'stock_180', 'stock_181', 'stock_182', 'stock_183', 'stock_184', 'stock_185', 'stock_186', 'stock_187', 'stock_188', 'stock_189', 'stock_190', 'stock_191', 'stock_192', 'stock_193', 'stock_194', 'stock_195', 'stock_196', 'stock_197', 'stock_198', 'stock_199', 'stock_200', 'stock_201', 'stock_202', 'stock_203', 'stock_204', 'stock_205', 'stock_206', 'stock_207', 'stock_208', 'stock_209', 'stock_210', 'stock_211', 'stock_212', 'stock_213', 'stock_214', 'stock_215', 'stock_216', 'stock_217', 'stock_218', 'stock_219', 'stock_220', 'stock_221', 'stock_222', 'stock_223', 'stock_224', 'stock_225', 'stock_226', 'stock_227', 'stock_228', 'stock_229', 'stock_230', 'stock_231', 'stock_232', 'stock_233', 'stock_234', 'stock_235', 'stock_236', 'stock_237', 'stock_238', 'stock_239', 'stock_240', 'stock_241', 'stock_242', 'stock_243', 'stock_244', 'stock_245', 'stock_246', 'stock_247', 'stock_248', 'stock_249', 'stock_250', 'stock_251', 'stock_252', 'stock_253', 'stock_254', 'stock_255', 'stock_256', 'stock_257', 'stock_258', 'stock_259', 'stock_260', 'stock_261', 'stock_262', 'stock_263', 'stock_264', 'stock_265', 'stock_266', 'stock_267', 'stock_268', 'stock_269', 'stock_270', 'stock_271', 'stock_272', 'stock_273', 'stock_274', 'stock_275', 'stock_276', 'stock_277', 'stock_278', 'stock_279', 'stock_280', 'stock_281', 'stock_282', 'stock_283', 'stock_284', 'stock_285', 'stock_286', 'stock_287', 'stock_288', 'stock_289', 'stock_290', 'stock_291', 'stock_292', 'stock_293', 'stock_294', 'stock_295', 'stock_296', 'stock_297', 'stock_298', 'stock_299', 'stock_300', 'stock_301', 'stock_302', 'stock_303', 'stock_304', 'stock_305', 'stock_306', 'stock_307', 'stock_308', 'stock_309', 'stock_310', 'stock_311', 'stock_312', 'stock_313', 'stock_314', 'stock_315', 'stock_316', 'stock_317', 'stock_318', 'stock_319', 'stock_320', 'stock_321', 'stock_322', 'stock_323', 'stock_324', 'stock_325', 'stock_326', 'stock_327', 'stock_328', 'stock_329', 'stock_330', 'stock_331', 'stock_332', 'stock_333', 'stock_334', 'stock_335', 'stock_336', 'stock_337', 'stock_338', 'stock_339', 'stock_340', 'stock_341', 'stock_342', 'stock_343', 'stock_344', 'stock_345', 'stock_346', 'stock_347', 'stock_348', 'stock_349', 'stock_350', 'stock_351', 'stock_352', 'stock_353', 'stock_354', 'stock_355', 'stock_356', 'stock_357', 'stock_358', 'stock_359', 'stock_360', 'stock_361', 'stock_362', 'stock_363', 'stock_364', 'stock_365', 'stock_366', 'stock_367', 'stock_368', 'stock_369', 'stock_370', 'stock_371', 'stock_372', 'stock_373', 'stock_374', 'stock_375', 'stock_376', 'stock_377', 'stock_378', 'stock_379', 'stock_380', 'stock_381', 'stock_382', 'stock_383', 'stock_384', 'stock_385', 'stock_386', 'stock_387', 'stock_388', 'stock_389', 'stock_390', 'stock_391', 'stock_392', 'stock_393', 'stock_394', 'stock_395', 'stock_396', 'stock_397', 'stock_398', 'stock_399', 'stock_400', 'stock_401', 'stock_402', 'stock_403', 'stock_404', 'stock_405', 'stock_406', 'stock_407', 'stock_408', 'stock_409', 'stock_410', 'stock_411', 'stock_412', 'stock_413', 'stock_414', 'stock_415', 'stock_416', 'stock_417', 'stock_418', 'stock_419', 'stock_420', 'stock_421', 'stock_422', 'stock_423', 'stock_424', 'stock_425', 'stock_426', 'stock_427', 'stock_428', 'stock_429', 'stock_430', 'stock_431', 'stock_432', 'stock_433', 'stock_434', 'stock_435', 'stock_436', 'stock_437', 'stock_438', 'stock_439', 'stock_440', 'stock_441', 'stock_442', 'stock_443', 'stock_444', 'stock_445', 'stock_446', 'stock_447', 'stock_448', 'stock_449', 'stock_450', 'stock_451', 'stock_452', 'stock_453', 'stock_454', 'stock_455', 'stock_456', 'stock_457', 'stock_458', 'stock_459', 'stock_460', 'stock_461', 'stock_462', 'stock_463', 'stock_464', 'stock_465', 'stock_466', 'stock_467', 'stock_468', 'stock_469', 'stock_470', 'stock_471', 'stock_472', 'stock_473', 'stock_474', 'stock_475', 'stock_476', 'stock_477', 'stock_478', 'stock_479', 'stock_480', 'stock_481', 'stock_482', 'stock_483', 'stock_484', 'stock_485', 'stock_486', 'stock_487', 'stock_488', 'stock_489', 'stock_490', 'stock_491', 'stock_492', 'stock_493', 'stock_494', 'stock_495', 'stock_496', 'stock_497', 'stock_498', 'stock_499', 'stock_500', 'stock_501']

In [14]:
globals()['stock_0']

           Date  (A) Volume
0    1999-11-18  62546380.0
1    1999-11-19  15234146.0
2    1999-11-22   6577870.0
3    1999-11-23   5975611.0
4    1999-11-24   4843231.0
...         ...         ...
5800 2022-12-07   1011100.0
5801 2022-12-08   1289900.0
5802 2022-12-09   1020200.0
5803 2022-12-12   1071400.0
5804 2022-12-13   1534200.0

[5805 rows x 2 columns]

In [15]:
globals()[names[0]].merge(globals()[names[1]], how="inner", on="Date")

           Date  (A) Volume  (AAL) Volume
0    2005-09-27   3930197.0      961200.0
1    2005-09-28   3909227.0     5747900.0
2    2005-09-29   8579666.0     1078200.0
3    2005-09-30   6801130.0     3123300.0
4    2005-10-03   6663847.0     1057900.0
...         ...         ...           ...
4329 2022-12-07   1011100.0    28161400.0
4330 2022-12-08   1289900.0    25300900.0
4331 2022-12-09   1020200.0    18489800.0
4332 2022-12-12   1071400.0    23344600.0
4333 2022-12-13   1534200.0    51547200.0

[4334 rows x 3 columns]

In [17]:
dfs = [globals().get(names[i]) for i in range(len(names))]

In [19]:
final_df = reduce(lambda left,right: pd.merge(left,right, on=["Date"], how="outer"), dfs)

In [22]:
final_df.fillna(0, inplace=True)

In [27]:
final_df.sort_values(by="Date")

,Date,(A) Volume,(AAL) Volume,(AAP) Volume,(AAPL) Volume,(ABBV) Volume,(ABC) Volume,(ABMD) Volume,(ABT) Volume,(ACGL) Volume,...,(WYNN) Volume,(XEL) Volume,(XOM) Volume,(XRAY) Volume,(XYL) Volume,(YUM) Volume,(ZBH) Volume,(ZBRA) Volume,(ZION) Volume,(ZTS) Volume
10779,1962-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,902400,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10780,1962-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1200000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10781,1962-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1088000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10782,1962-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1222400,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10783,1962-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1388800,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5800,2022-12-07,1011100.0,28161400.0,1516900.0,69721100.0,4637800.0,1224400.0,974100.0,3592400.0,1853200.0,...,1783900.0,2659400.0,20061700,1545400.0,460500.0,2085600.0,1810000.0,303100.0,1994400.0,2444100.0
5801,2022-12-08,1289900.0,25300900.0,773000.0,62128300.0,4274400.0,882200.0,1506900.0,4607700.0,2142900.0,...,2800300.0,2160600.0,21128800,1354400.0,518100.0,1500000.0,1814100.0,473400.0,1166600.0,2267500.0
5802,2022-12-09,1020200.0,18489800.0,831400.0,76069500.0,4644200.0,2979500.0,990100.0,5345400.0,1561000.0,...,2056100.0,3793100.0,21285200,1185600.0,1128500.0,1833800.0,1449200.0,551900.0,900700.0,3274900.0
5803,2022-12-12,1071400.0,23344600.0,868300.0,70462700.0,4109400.0,1401700.0,1317700.0,4752500.0,2142200.0,...,1924800.0,1967300.0,20413200,1416700.0,876500.0,1361700.0,1737000.0,478500.0,1172300.0,1851800.0
5804,2022-12-13,1534200.0,51547200.0,1109700.0,93831400.0,5050400.0,1735500.0,4565700.0,6245700.0,1530600.0,...,2189400.0,2873100.0,24300400,2181200.0,646900.0,1821000.0,2055600.0,608700.0,1729900.0,3655900.0

In [ ]:
for

In [ ]:
name = str(path_list[0]).split("\\")[-1].split('.')[0]
stock_name = f'({name}) Volume'
stock_name

In [ ]:

data = pd.read_csv(path_list[0], parse_dates=["Date"], usecols=["Date", "Volume"])
data.columns = ["Date", stock_name]

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
year_1999_to_2009 = data[data.Date.dt.year.between(1999, 2009)]

In [ ]:
year_1999_to_2009.set_index("Date")

In [ ]:
year_1999_to_2009

In [ ]:
fig = make_subplots(
    rows=4, cols=1,
    shared_xaxes=True,
    vertical_spacing=0.03,
    specs=[[{"type":"table"}],
           [{"type":"scatter"}],
           [{"type":"scatter"}],
           [{"type":"scatter"}]]
)

fig.add_trace(
    go.Scatter(
        x=year_1999_to_2009.Date,
        y=year_1999_to_2009.Volume,
        mode="lines",
        name="Volume",
    ),
    row=4, col=1
)

fig.add_trace(
    go.Scatter(
        x=year_1999_to_2009.Date,
        y=year_1999_to_2009.Open,
        mode="lines",
        name="Opening Price",
    ),
    row=3, col=1
)

fig.add_trace(
    go.Scatter(
        x=year_1999_to_2009.Date,
        y=year_1999_to_2009.Close,
        mode="lines",
        name="Closing Price",
    ),
    row=2, col=1
)

fig.add_trace(
    go.Table(
        header=dict(
            values=["Date", "Open", "High",
                    "Low", "Close", "Adj Close",
                    "Volume"],
            font=dict(size=10),
            align="left"
        ),
        cells=dict(
            values=[year_1999_to_2009[k].tolist() for k in year_1999_to_2009.columns],
            align = "left")
    ),
    row=1, col=1
)

fig.update_layout(
    height=900,
    showlegend=True,
    title_text="Opening and Closing", template="plotly_dark",
)

fig.show()

In [ ]:
fig = make_subplots(
    rows=4, cols=1,
    shared_xaxes=True,
    vertical_spacing=0.03,
    specs=[[{"type":"table"}],
           [{"type":"scatter"}],
           [{"type":"scatter"}],
           [{"type":"scatter"}]]
)

fig.add_trace(
    go.Scatter(
        x=year_1999_to_2009.Date,
        y=year_1999_to_2009.Volume,
        mode="lines",
        name="Volume",
    ),
    row=4, col=1
)

fig.add_trace(
    go.Scatter(
        x=year_1999_to_2009.Date,
        y=year_1999_to_2009.Open,
        mode="lines",
        name="Opening Price",
    ),
    row=3, col=1
)

fig.add_trace(
    go.Scatter(
        x=year_1999_to_2009.Date,
        y=year_1999_to_2009.Close,
        mode="lines",
        name="Closing Price",
    ),
    row=2, col=1
)

fig.add_trace(
    go.Table(
        header=dict(
            values=["Date", "Open", "High",
                    "Low", "Close", "Adj Close",
                    "Volume"],
            font=dict(size=10),
            align="left"
        ),
        cells=dict(
            values=[year_1999_to_2009[k].tolist() for k in year_1999_to_2009.columns],
            align = "left")
    ),
    row=1, col=1
)

fig.update_layout(
    height=900,
    showlegend=True,
    title_text="Opening and Closing", template="plotly_dark",
)

In [ ]:
fig = px.line(year_1999_to_2009, x=year_1999_to_2009.Date, y=["Open", "Close", "High", "Low"], height=700, template="plotly_dark")

fig.show()